<!DOCTYPE html>
<html>
<head>
  <title> </title>
</head>
<body>


  <div>
    <h3> Antonym(s) </h3>
    <list-thesaurus-items value="antonyms" ng-repeat="antonyms in $ctrl.thesaurii.antonyms"/>
  </div>


 <div>
    <h3> Synonym(s) </h3>
    <list-thesaurus-items value="synonyms" ng-repeat="synonyms in $ctrl.thesaurii.synonyms"/>
  </div>


 <div>
    <h3> Example(s) </h3>
    <list-thesaurus-items value="examples" ng-repeat="examples in $ctrl.thesaurii.examples"/>
  </div>


  <br/><br/>



</body>
</html>